body{
    background-color:lightseagreen;
}

a {
    text-decoration: none;
    color: black;
}

header {
    display: flex;
    height: 70px;
    background-color:white;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.main {
    background: brown;
    width: 100%;
    height: calc(100vh - 200px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.uno{
    background-color: black;
    display: inline-flex;
}

.uno a{
    color: white;
    padding: 0 10px;
}

.uno a:hover{
background-color: blue;
}

.seccion1 {
    background:darkorchid;
    width: 70%;
    height: 100%;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: white;
    font-size: 30px;
    font-weight: 600;
    padding-right: 10px;
    cursor: pointer;
    
}


    


.seccion2 {
    background:coral;
    width: 70%;
    height: 100%;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: white;
    font-size: 30px;
    font-weight: 600;
    padding-right: 10px;
    cursor: pointer;
}

.seccion3 {
    background:darkgreen;
    width: 70%;
    height: 100%;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: white;
    font-size: 30px;
    font-weight: 600;
    padding-right: 10px;
    cursor: pointer;
}

.logo{
    display: flex;
    align-items: center;
}

.logo-img{
    height: 50px;
    margin-right: 10px;
}


.tenis-img{
    height: 280px;
    margin-right: 50px;
    display: block;
    margin: 10vh auto;
    
}

.sudaderas-img{
    height: 280px;
    margin-right: 50px;
    display: block;
    margin: 10vh auto;
    
}

.accesorios-img{
    height: 280px;
    margin-right: 50px;
    display: block;
    margin: 10vh auto;
    
}

nav a {
    font-weight: 600;
    padding-right: 10px;
}

nav a:hover{
    color: blue;
}

p{
  color:linen;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  
}

.social-bar {
    position: fixed;
    right: 0;
    top: 35%;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 100;
}

.icon {
    color: white;
    text-decoration: none;
    padding: .7rem;
    display: flex;
    transition: all .5s;
}

.icon-facebook2 {
    background: blue;
}

.icon-instagram {
    background: red;
}

.icon-whatsapp  {
    background: green;
}

.icon-twitter {
    background: royalblue;
}

.icon:last-child {
    border-radius: 1rem 0 0 0;
}

.icon:last-child {
    border-radius: 0 0 0 1rem;
}